

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&display=swap');




@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');








.flex-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  row-gap: 20px;
  column-gap: 10px;;
  padding: 10px;
  max-width: 100vw;
  z-index: 1;
  position: sticky;
}

.channel-title{
  background-color: #2044f6;
  border-radius: 25px;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 30px;
  font-size: 160px;
  font-family: VT323;
  flex: 50%;
}


.channel-title:hover{
  color: rgb(255, 255, 255);
}

.channel-description {
  background-color: rgb(255, 143, 30);
  border-radius: 25px;
  padding: 40px;
  font-size: 16px;
  font-family: Roboto Mono;
  flex: 60%;
  text-align: left;
}


.full-name {
 font-size: 24px;
 font-family: Roboto Mono;

}
.channel-owner {
  background-color: rgb(218, 218, 218);
  border-radius: 25px;
  padding: 30px;
  font-size: 20px;
  font-family: Roboto Mono;
  min-height: 100px;
  
}
.channel-collaborator{
  background-color: rgb(157, 121, 198);
  border-radius: 25px;
  padding: 30px;
  font-size: 20px;
  font-family: Roboto Mono;
  min-height: 100px;
  
 
}




.channel-count{
  border-style: dashed;
  border-radius: 15px;
  padding: 30px;
  font-size: 24px;
  font-family: Roboto Mono;
  padding: 20px;
  margin: 10px;
  
  }
  

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    padding: 10px;
    position: relative;
  }

  li {
    
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px dotted rgba(0, 0, 0, 0.8);
    border-radius: 80px;
    padding: 10px;
    padding-top: 30px;
    font-size: 30px;
    text-align: center;
    width: 300px;
    height: 300px;
    position: relative;
    aspect-ratio: 1;
     
  }
  figure {
    overflow: hidden;
    word-break: break-word;
  }
  

  /* .grid-item:hover .title {
    opacity: 1;
    box-shadow: 5px 10px 8px #e1e1e1;
   height: 100%; }  */


  .image-thumb{
    width: 300px;
    height: 300px;
    align-self: center;
  }
						.image-square{
                            width: 200px;
                            height: 200px;
                            border-radius: 40px;
                            align-self: center;
                          }
                        
						.image-display{
                            width: 200px;
                            height: 200px;
                            border-radius: 40px;
                            align-self: center;
                        }

                        .image{
                            width: 400px;
                            max-height: 500px;
            
                        } 
                        
                        
						
      .title{
        font-size: 26px;
        font-family: VT323;
        font-weight: 400;
        padding: 10px;
        text-transform: capitalize;
        transition: 0.4s ease-in-out all;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;   
        padding-top:20px;
        color: white;
      
        
      }

      
      .time-updated{
        font-size: 10px;
        font-family: Roboto Mono;
        color: white;
        text-decoration: overline 1px dotted ;
       
        
   
      }

      li:hover  {
        background-color: rgba(224, 117, 36, 0.8);
        border: 1px dotted rgba(255, 255, 255, 0.8);
        box-shadow: 5px 10px 8px #cacaca;
        
      } 
    

      .time-created{
        font-size: 10px;
        font-family: Roboto Mono;
        color: white;
        text-decoration: overline 1px dotted ;
        
      
      }

    

    

      .type{
        font-size: 14px;
        font-family: Roboto Mono;
        font-weight: 700;
      }
      
      .content{
        font-size: 10px;
        font-family: Roboto Mono;
        font-weight: 200;
        margin: 20px;
      }

      .link-title{
        font-family: Roboto Mono;
        font-size: 10px;
        color: rgb(255, 255, 255);
        font-style: italic;
        font-weight: 200;
        
      }

      .arrow {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        
      }
      .images-button{
        background-color: rgb(255, 206, 30);
  border-radius: 25px;
  padding: 30px;
  font-size: 24px;
  font-family: Roboto Mono;
  min-height: 100px;
  

      }

      .articles{
        background-color: rgb(108, 151, 75);
  border-radius: 25px;
  padding: 30px;
  font-size: 24px;
  font-family: Roboto Mono;
  min-height: 100px;
  

      }
      figure > img { object-fit: cover; }


   
.image-block aside {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  background-color: black;
	z-index: 2;
	padding: 40px;
}

.image-block aside > img {
	object-fit: contain;
}

.image-block.active aside {
	display: block;
}


.audio-embed aside {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: black;
	z-index: 2;
	padding: 40px;
}

.audio-embed aside > img {
	object-fit: contain;
}

.audio-embed.active aside {
	display: block;
}




.audio-file-block aside {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: black;
	z-index: 2;
	padding: 40px;
}

.audio-file-block aside > img {
	object-fit: contain;
}

.audio-file-block.active aside {
	display: block;
}



.video-file-block aside {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: black;
	z-index: 2;
	padding: 40px;
}

.video-file-block aside > img {
	object-fit: contain;
}

.video-file-block.active aside {
	display: block;
}

.video-embed-block aside {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: black;
	z-index: 2;
	padding: 40px;
}

.video-embed-block > img {
	object-fit: contain;
}

.video-embed-block.active aside {
	display: block;
}


.link-block aside {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: black;
	z-index: 2;
	padding: 40px;
}

.link-block aside > img {
	object-fit: contain;
}

.link-block.active aside {
	display: block;
}       


.text-block aside {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: black;
	z-index: 2;
	padding: 40px;
}

.text-block aside > img {
	object-fit: contain;
}

.text-block.active aside {
	display: block;
}

.embed{
  width: 100%;
}
.description{
  padding-top: 10px;
  font-size: 16px;
  font-family: Roboto Mono;
  font-weight: 400;
  text-align: left;
  color: rgb(0, 0, 0);
  text-decoration: overline 1px dotted ;
  background-color: rgb(255, 143, 30);
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  
}
     .aside-grid-container{
      display: flex;
      justify-content: center;
      
     }

     .aside-item {
      
      border: 1px dotted rgb(255, 255, 255);
      border-radius: 45px;
      margin: 20px;
      padding: 10px;
      max-width: 700px;
      text-align: left;
      padding: 40px;
      
    }

    .aside-item-fill{
      background-color: lightblue;
  border: solid black 1px;
  
    }

    .button-style{
     
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      border-radius: 10px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
      background-color: rgb(157, 121, 198);
      color: black;
      border: 2px solid #555555;
      font-family: Roboto Mono;
    }

    .button-style:hover {
      background-color: #f3c144;
      color: rgb(0, 0, 0);
    }
    .footer {
      left: 0;
      bottom: 0;
      
      background-color: rgb(157, 121, 198);
      font-family: Roboto Mono;
      border-radius: 20px;
      color: rgb(0, 0, 0);
      text-align: left;
      font-family: Roboto Mono;
      font-size: 10px;
      padding: 20px;
      margin-top: 50px;
      margin: 20px
      
   }



































      @media (max-width: 400px) {


        .full-name{
          
          
          
          
          font-size: 10px;
          font-family: Roboto Mono;
        }


       
      
        .flex-container {
          display: flex;
          flex-direction: column;
          text-align: center;
          row-gap: 10px;
          column-gap: 10px;;
          padding: 10px;
          max-width: 100vw;
          z-index: 1;
        }

      .channel-title{
        background-color: #2044f6;
        border-radius: 25px;
        padding: 10px;
        padding-top: 40px;
        padding-bottom: 30px;
        font-size: 130px;
        font-family: VT323;
        max-width: 100vw;
        
      }
      
      .channel-description {
        background-color: rgb(255, 143, 30);
        border-radius: 25px;
        padding: 10px;
        font-size: 12px;
        font-family: Roboto Mono;
        max-width: 100vw;
        text-align: left;
      }
      
       .channel-owner {
         background-color: rgb(218, 218, 218);
         border-radius: 20px;
         font-size: 10px;
         font-family: Roboto Mono;
        
       }
       .channel-collaborator{
         background-color: rgb(157, 121, 198);
         border-radius: 15px;
         font-size: 10px;
         font-family: Roboto Mono;
         
       }
       
       .channel-count{
         border-style: dashed;
         border-radius: 15px;
        
         font-size: 10px;
         font-family: Roboto Mono;
       
         
         }

         .images-button{
          background-color: rgb(255, 206, 30);
    border-radius: 15px;
    
    font-size: 10px;
    font-family: Roboto Mono;
   
    
  
        }
  
        .articles{
          background-color: rgb(108, 151, 75);
    border-radius: 15px;
    
    font-size: 10px;
    font-family: Roboto Mono;
    
    
  
        }

         ul{
            display: grid;
            grid-template-columns: 1fr 1fr;
             gap: 10px;
           
              
          }
           li{
            background-color: rgba(255, 255, 255, 0.8);
            border: 1px rgba(0, 0, 0, 0.8);
            border-style: double;
            padding: 1px;
            border-radius: 20px;
            font-size: 20px;
            text-align: center;
            width: 150px;
            height: 200px;
            align-content: center;
            
            
          }
        

          .title{
            font-size: 10px;
            font-family: Roboto Mono;
            font-weight: 400;
            padding: 10px;
            text-transform: capitalize;
            opacity: 0;
            transition: 0.4s ease-in-out all;
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis; 
            border-radius: 20px 20px 0px 0px;
            border: 1px dotted rgba(0, 0, 0, 0.8);
            
          }
    
        
          image-thumb{
            width: 100px;
            height: 100px;
          }
                                .image-square{
                                    width: 120px;
                                    height: 120px;
                                    border-radius: 10px;
                                  }
                                
                                .image-display{
                                  width: 100px;
                                  height: 100px;
                                  border-radius: 10px;
                                }
        
                                .image{
                                  width: 100px;
                                  height: 100px;
                                  border-radius: 10px;
                                }
                                .content{
                                    font-size: 7px;
                                    font-family: Roboto Mono;
                                    font-weight: 400;
                                    border-radius: 10px;
                                   
                                  }


                                  .time-updated{
                                    font-size: 8px;
                                    font-family: Roboto Mono;
                                    
                               
                                  }
                            
                                  .grid-item:hover .time-updated {
                                    color: blue;
                                  }
                            
                                  .time-created{
                                    font-size: 8px;
                                    font-family: Roboto Mono;
                                    opacity: 70%;
                                  
                                  }
                            
                                
                            
                                  .description{
                                    font-size: 14px;
                                    font-family: Roboto Mono;
                                    font-style: italic;
                                  }
                            
                                  .type{
                                    font-size: 14px;
                                    font-family: Roboto Mono;
                                    font-weight: 700;
                                  }

                                  .link-title{
                                    font-family: Roboto Mono;
                                    font-size: 6px;
                                    color: rgb(0, 0, 0);
                                    font-style: italic;
                                    opacity: 0.1;
                                    font-weight: 200;
                                  }

                                }
                      